html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-image: url("https://img.freepik.com/premium-photo/chinese-food-chinese-national-cuisine_233226-1336.jpg?w=900");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
